trigger:
  # start a new build for every push
  batch: False
  branches:
    include:
      - develop

jobs:
- job: ARMv6_gcc
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - script: |
      docker run --rm --privileged multiarch/qemu-user-static:register --reset
      echo "FROM openblas/alpine:arm32
        COPY . /tmp/openblas
        RUN mkdir /tmp/openblas/build                             &&  \
            cd /tmp/openblas/build                                &&  \
            CC=gcc cmake -D DYNAMIC_ARCH=OFF                          \
                                 -D TARGET=ARMV6                      \
                                 -D NOFORTRAN=ON                      \
                                 -D BUILD_SHARED_LIBS=ON              \
                                 -D BUILD_WITHOUT_LAPACK=ON           \
                                 -D BUILD_WITHOUT_CBLAS=ON            \
                                 -D CMAKE_BUILD_TYPE=Release ../  &&  \
            cmake --build ." > Dockerfile
      docker build .
    displayName: Run ARMV6 docker build
- job: ARMv8_gcc
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - script: |
      docker run --rm --privileged multiarch/qemu-user-static:register --reset
      echo "FROM openblas/alpine:arm64
        COPY . /tmp/openblas
        RUN mkdir /tmp/openblas/build                             &&  \
            cd /tmp/openblas/build                                &&  \
            CC=gcc cmake -D DYNAMIC_ARCH=OFF                          \
                                 -D TARGET=ARMV8                      \
                                 -D NOFORTRAN=ON                      \
                                 -D BUILD_SHARED_LIBS=ON              \
                                 -D BUILD_WITHOUT_LAPACK=ON           \
                                 -D BUILD_WITHOUT_CBLAS=ON            \
                                 -D CMAKE_BUILD_TYPE=Release ../  &&  \
            cmake --build ." > Dockerfile
      docker build .
    displayName: Run ARMV8 docker build   
# manylinux1 is useful to test because the
# standard Docker container uses an old version
# of gcc / glibc
- job: manylinux1_gcc
  pool:
    vmImage: 'ubuntu-16.04'
  steps:
  - script: |
      echo "FROM quay.io/pypa/manylinux1_x86_64
        COPY . /tmp/openblas
        RUN cd /tmp/openblas                                      &&  \
            COMMON_FLAGS='DYNAMIC_ARCH=1 TARGET=NEHALEM NUM_THREADS=32' && \
            BTYPE='BINARY=64' CC=gcc && \
            make QUIET_MAKE=1 $COMMON_FLAGS $BTYPE && \
            make -C test $COMMON_FLAGS $BTYPE && \
            make -C ctest $COMMON_FLAGS $BTYPE && \
            make -C utest $COMMON_FLAGS $BTYPE" > Dockerfile
      docker build .
    displayName: Run manylinux1 docker build
